/* Our CSS file. */

.container,
.content {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Merriweather", serif;
  background: url("https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?w=360")
    no-repeat;
  background-size: cover;
  font-weight: 500;
}
img {
  width: 100px;
  height: 100px;
}
header {
  border: 1px solid black;
  margin-bottom: 5px;
}
nav {
  /* border: 1px solid red; */
  background-color: rgb(44, 44, 43);
  margin: 5px 0.5px;
  height: 75px;
}
section {
  /* border: 1px solid green; */
  width: 50%;
  display: inline-block;
  position: relative;
  left: 33px;
}
aside {
  /* border: 1px solid blue; */
  width: 20%;
  display: inline-block;
}
footer {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  line-height: 1.6;
  background-color: antiquewhite;
}
input {
  position: absolute;
  right: 23px;
  top: 50px;
}
li {
  font-family: "Libre Baskerville", serif;
  list-style: none;
  padding: 5px;
  font-weight: 900;
}
li:hover {
  color: rgb(84, 93, 230);
}
a {
  color: goldenrod;
  text-decoration: none;
  padding: 0 143px;
  position: relative;
  top: 25px;
}
a:hover {
  color: beige;
}

aside.right-side {
  position: relative;
  left: 5%;
  bottom: 47px;
}
.first-section,
.second-section {
  position: relative;
  left: 64px;
}
img.first-section-img,
img.second-section-img {
  width: 100px;
  height: 100px;
  margin: 5%;
}
li.left-list {
  position: relative;
  right: 19px;
}

li.right-list {
  position: relative;
  right: 19px;
  bottom: 6px;
}
aside.right-side {
  position: relative;
  left: 5%;
  bottom: 152px;
}
aside.left-side {
  position: relative;
  bottom: 48px;
}
.anchor-lists {
  display: inline-block;
  list-style: none;
}
.middle-container {
  margin: 0.5px 5px;
}
